*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container{
    display: flex;
    width: 100vw;
    /* position: relative; */
  }
  #navbar{
    width: 25rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    
  }
  #navbar > div{
    border-top: 1px solid grey;
    padding: 1rem 1.5rem;
    
    
  }
  .nav-link{
    text-decoration: none;
    
  }
  .navbar a{
    font-size: 20px;
    color: black;
    
  }
  
  main{
    width: 100%;
    padding-left: 2rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 25rem;
  }
  header{
    font-size: 32px;
    padding: 1rem 1.5rem;
  }
  section{
    padding: 1rem;
  }
  section h1{
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  section p{
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  section > ul {
    padding-left: 3rem;
  }
  section > ul li{
    font-size: 18px;
    line-height: 1.5rem;
   }
   .next_list{
    margin-left: 2rem;
  }
  .code{
   padding: 1rem 0;
   border: 1px hidden red;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding-left: 1rem;
   }
   